/* Override some defaults */
html, body {
  background-color: #000;
}
.navbar {
  margin-bottom: 0;
}
.container > footer {
  margin-top: 20px;
}
.container > footer p {
  text-align: center; /* center align it with the container */
  color: #888;
}

/* The white background content wrapper */
.content {
  background-color: #000;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
}

.content .left-side {
  margin-top: 2em;
  margin-left: 1em;
  margin-right: 1em;
  color: #330;
}

.fun-font{
  font-family: 'Luckiest Guy', cursive;
  font-size: 28px;
  line-height: 32px;
}

.fun-font > p {
  font-family: 'Luckiest Guy', cursive;
  font-size: 28px;
  line-height: 32px;
  color: #000;
}

.content h3 {
  color: #000;
}

.content .right-side {
  color: #330;
  margin-top: 2em;
  margin-left: 512px;
}

h3 {
  color: #e5e5e5;
}

.bus-bkg {
  background-image: url("/assets/imgs/MCweb_art.jpeg");	
  min-height: 512px;
}

.clean-bkg {
  background-image: url("/assets/imgs/MCweb_back_clean.jpeg");
  min-height: 512px;
}

/* Page header tweaks */
.page-header {
  background-color: #000;
  color: #000;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
  border-bottom: 0;
}

.topbar .btn {
  border: 0;
}


/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #000;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}
	